{% load static %}

<html>

<head>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="styleshee\t">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <div>
    <header>
        <div>
            <h1><a href="{% url 'home' %}">Django blog</a></h1>
        </div>
        <div>
            <h1><a href="{% url 'post_new' %}">New Blog Post</a></h1>
        </div>
    </header>

    <!-- Add log in form at the top of base.html (under navigation) -->
    <!-- So if a user's logged in - return greeting. Otherwise offer login link -->
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Log out</a>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>

<!-- code for block content/ endblock content will be filled by home.html -->